@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@media print {
    .no-print {
        display: none !important;
    }

    body, main {
        background: white !important;
        padding: 0 !important;
    }
}
